.narrative-detail {
  padding: 16px;
}

@media (max-width: 640px) {
  .narrative-detail {
    padding: 9px;
  }
}

.narrative-detail-title {
  font-size: 22px;
  font-weight: 800;
  margin: 4px 0 24px;
}
